html, body {
    margin: auto;
    margin-top: 2vh;
    padding: 0; 
    background-color:#ffe4c4;  
    font-family: curvy;
  
  }

  canvas {
    background-color: blue;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: block;
    width: 800px;
  }

  @font-face {
    font-family: "curvy";
    src: url("Snell.otf");
  }

  button {
    font-family: curvy;
    font-size: medium;
    font-weight: bolder;
    background-color: antiquewhite;
  }

  button:hover {
    background-color: rgb(161, 238, 255);
    box-shadow: 5px 5px 0px rgba(245, 108, 93, 0.9);
  }
  
  h1{
    font-size:7vh;
  }

  .tea {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: -180px;
    margin-right: auto;
    margin-top: calc(10vh + 20px);
    display: inline-block;
    height: 350px;
    width: 350px;
    background-color: rgba(92, 49, 9, 0.926);
    border-radius: 50%; 
  }

  @keyframes shrink {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
}

html:hover .tea{
  animation-name: shrink;
  animation-duration: 2s;
 }
